@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-bg-text{
    background: linear-gradient(90deg,#31ae1d 0%,#1e8d91 70%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  .custom-bg {
    background: linear-gradient(90deg,#31ae1d 0%,#1e8d91 70%);
  }

}



